<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/2_EXPRESS/8_atividade/public/style.css">
    <title>Tela de Login</title>
</head>
<body>
    <h1>Seja Bem-Vindo(a)!</h1>

    <h2>Increva-se abaixo e concorra a prêmios!</h2>

    <form action="/cadastrar" method="post">
        <div class="nome">
            <label for="">Nome Completo</label>
            <input type="text" name="nome" id="nome" placeholder="Digite o seu nome">
        </div>
        <div class="email">
            <label for="">E-mail</label>
            <input type="email" name="email" id="email" placeholder="Digite o seu e-mail">
        </div>
        <div class="senha">
            <label for="">Crie uma Senha</label>
            <input type="password" name="senha" id="senha" placeholder="*********">
        </div>
    </form>

    <button type="submit">Cadastrar</button>
</body>
</html>